<h1>Fernsehserien verwalten</h1>

<p>
<%= link_to 'New TV-Show', new_tvshow_path %>
</p>

<dl>
<% @tvshows.each do |tvshow| %>
  <dt><b><%= link_to tvshow.name, tvshow_episodes_path( tvshow ) %> </b>
      |  <%= link_to 'Destroy', tvshow, method: :delete, data: { confirm: 'Are you sure?' } %></dt>
  <dd>  <%= tvshow.country %>, <%= tvshow.started %> bis 
    <% if tvshow.ended.blank? %> ... <% else %> <%= tvshow.ended %>  <% end %> (<%= tvshow.seasons %> Seasons). <%= tvshow.status %>.
  </dd>
<% end %>

<p>
<%= link_to 'New TV-Show', new_tvshow_path %>
</p>
