<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tvshow.title %>
</p>

<p>
  <b>Imdb url:</b>
  <%= @tvshow.imdb_url %>
</p>


<%= link_to 'Edit', edit_tvshow_path(@tvshow) %> |
<%= link_to 'Back', tvshows_path %>
