<% if episodes.count > 0 %>

  <p><%= episodes.count %> Folgen:</p>

  <% episodes.each do |episode| %>
      Season <%= episode.season %>
      Episode <%= episode.no %>: 
      <%= episode.title %>. 
      <%= link_to 'Edit', edit_tvshow_episode_path( episode.tvshow, episode ) %> |
      <%= link_to 'Destroy', tvshow_episode_path( episode.tvshow, episode ), method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
  <% end %>


<% end %>
