<h1><%= @tvshow.name %></h1>
<p>
<%= link_to 'Zurück zu den Serien', tvshows_path %>
</p>

<% @episodes.each do |episode| %>
    Season <%= episode.seasonnum %>
    Episode <%= episode.epnum %>: 
    <b><%= link_to episode.title, episode.link %></b>. 
  <br>
<% end %>

<p>
<%= link_to 'Zurück zu den Serien', tvshows_path %>
</p>
