<h1><%= @tvshow.title %></h1>

<% @episodes.each do |episode| %>
    Season <%= episode.season %>
    Episode <%= episode.no %>. 
    <%= link_to 'Destroy', tvshow_episode_path( episode.tvshow, episode ), method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
<% end %>

<p>
<%= link_to 'Neue Episode Hinzufügen', new_tvshow_episode_path( @tvshow ) %>
</p>
<p>
<%= link_to 'Back', tvshows_path %>
</p>
